main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Comfortaa', cursive;
}

.palette-picker-hdr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}

.palette-picker-logo {
  width: 60px;
  height: 60px;
  background: url('../assets/paint-buck-icon.svg');
  background-size: cover;
  background-position: center;
}

.palette-picker-hdr-txt {
  font-family: 'Righteous', cursive;
  font-size: 80px;
}

.palette-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid black;
  min-width: 100%;
  background: url('../assets/hardwood-698871_1920.jpg');
  background-size: cover;
  background-position: center;
}

.palette {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.color-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 5px solid #FFFFFF;
  height: 100px;
  width: 75px;
  padding: 10px;
}

.color-text {
  color: #FFFFFF;
  padding: 5px;
  background: rgba(0,0,0,0.5)
}

.color-box-lock-btn {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  background: rgba(0,0,0,0.5);
  background-size: cover;
  background-position: center;
  padding: 5px;
}

.color-box-lock-btn:hover {
  cursor: pointer;
  margin-bottom: 10px;
}

.lock-open {
  background-image: url("../assets/unlocked.svg");
}

.lock-closed {
  background-image: url("../assets/locked.svg");
  margin-bottom: 5px;
}

.generate-palette-btn {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  border: none;
}

.generate-palette-btn:hover {
  cursor: pointer;
  background: #1BCFEE;
  color: white;
}

.new-palette-form {
  margin: 15px 0;
  height: 15px;
}

#project-dropdown {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
}

#project-dropdown option {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
}

.create-project-form {
  display: flex;
  flex-direction: row;
}

.create-project-hdr {
  font-weight: 700;
  align-self: center;
  margin-right: 10px;
}

.project-name-input {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
}

.save-project-btn {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
}

.save-project-btn:hover {
  cursor: pointer;
  color:#FFFFFF;
  background: #1BCFEE;
}

.saved-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  height: 100vw;
}

.create-project-form {
  padding: 10px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
}

.project {
  border: 1px solid black;
  padding: 15px;
  margin: 15px 0;
  min-width: 300px;
  min-height: 150px;
}

.project-name {
  margin: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.project-palettes {
  max-height: 100px;
  overflow-y: auto;
}

.project-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-palette-colors {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;
}

.project-palette-color {
  border: 1px solid black;
  min-width: 15px;
}

.project-palette-delete-btn {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0);
  background-size: cover;
  background-position: center;
  background-image: url("../assets/trash.svg");
}

@media (max-width: 850px) {
  .project-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .palette-picker-logo {
    width: 40px;
    height: 40px;
  }

  .palette-picker-hdr-txt {
    font-size: 55px;
  }
}