main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.palette-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid black;
  min-width: 90%;
}

.palette {
  display: flex;
  flex-direction: row;
}

.color-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  height: 100px;
  width: 75px;
  margin: 0px 5px;
  padding: 10px;
}

.color-box-lock-btn {
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0);
  background-size: cover;
  background-position: center;
}

.lock-open {
  background-image: url("../assets/unlocked.svg");
}

.lock-closed {
  background-image: url("../assets/locked.svg");
}

.saved-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  height: 100vw;
}

.create-project-form {
  padding: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: space-between;
}

.project {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}

.project-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-palette-colors {
  display: flex;
  flex-direction: row:;
}

.project-palette-color {
  border: 1px solid black;
  min-width: 15px;
}

.project-palette-delete-btn {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0);
  background-size: cover;
  background-position: center;
  background-image: url("../assets/trash.svg");
}